# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp
*.bak
.temp/
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
Thumbs.db
ehthumbs.db

# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml

# Visual Studio Code
.vscode/
*.code-workspace

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

# Android Studio Build Artifacts
android/.gradle/
android/app/debug
android/app/profile
android/app/release

# Firebase
ios/GoogleService-Info.plist
android/app/google-services.json

# Coverage Reports
coverage/
